<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            The app uses data from mapbox.com and darksky.net. It shows the name of the city 
            and a brief description about the weather of that city. 
            The place has been located using mapbox.com, while the weather had done using darksky.net.
        </p>

        <p>I used Nodejs for the backend. The view uses handlebars template.</p>
    </div>
    
    {{>footer}}
</body>
</html>